footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(260, 8%, 14%);
  width: 100%;
  color: $white;
  .footer-title {
    font-size: 28px;
    padding: 1rem;
  }
  .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .item-title {
      color: $white;
      text-align: center;
      padding: 1rem;
    }
    .item-content {
      text-align: center;
      color: $grayish;
      padding-bottom: 0.5rem;
      text-decoration: none;
      &:hover {
        color: $main_color_hover;
      }
    }
  }
  .social-media {
    margin-bottom: 2rem;
    .social-media-link {
      color: $white;
      padding: 0.5rem;
      &:hover {
        color: $main_color_hover;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2rem;
    .items {
      display: flex;
      margin-left: 6rem;
      .item {
        align-items: flex-start;
        margin-right: 2rem;
        .item-content {
          padding-left: 1rem;
        }
      }
    }
    .social-media {
      padding: 1rem;
    }
  }
}
