header {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 0rem 1rem;
  position: fixed;
  background-color: $white;
  z-index: 100;
  width: 100%;
  top: 0;
  .navbar-toggle {
    /*   能見度 */
    visibility: hidden;
    position: absolute;
  }
  .navbar-toggle:checked ~ nav {
    display: block;
    transform: scale(1, 1);
  }
  .navbar-toggle:checked ~ nav .item {
    opacity: 1;
    /*   讓透明度轉場延遲顯示 */
    transition: opacity 0.5s ease-out;
  }
  .navbar-toggle-label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 7.5%;
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
    .hamburger {
      position: relative;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      width: 30px;
      height: 3px;
      background: $gray;
    }
    .hamburger::before,
    .hamburger::after {
      position: absolute;
      content: "";
      left: 0;
    }
    .hamburger::before {
      bottom: 8px;
    }
    .hamburger::after {
      top: 8px;
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    top: 120%;
    transition: transform 0.4s ease-out;
    transform: scale(1, 0);
    transform-origin: top;
    padding: 2rem;
  }
  .items ul,
  .nav-login {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item {
    padding: 1rem;
    list-style-type: none;
    cursor: pointer;
    color: $white;
    font-weight: 600;
    .item-link {
      text-decoration: none;
      color: $gray;
      &:hover {
        color: $grayish;
      }
    }
  }
  hr {
    margin: 1rem 0;
    border-color: $grayish;
  }
  .nav-login button {
    display: flex;
    flex-direction: column;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .btn-login {
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: $white;
    &:hover {
      background-color: transparent;
    }
  }
  .btn-signup {
    color: $white;
    background-color: $main_color;
    border-radius: 20px;
    padding: 0.5rem 6rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  header {
    padding: 2rem 8rem 0rem 8rem;
    align-items: center;
    .navbar-toggle-label {
      display: none;
    }
    nav {
      all: unset;
      display: flex;

      .items ul {
        flex-direction: row;
        margin-left: 2rem;
      }
      .nav-login {
        flex-direction: row;
      }
      .item {
        color: $gray;
        &:hover {
          color: $grayish;
        }
      }
    }
    hr {
      display: none;
    }
    .nav-login {
      position: absolute;
      right: 8rem;
    }
    .btn-login {
      background-color: $white;
      padding: 0.5rem 1rem;
      color: $gray;
      margin-right: 1rem;
    }
    .btn-signup {
      margin-top: 0;
      padding: 0.5rem 2rem;
    }
  }
}
